<div class="modal fade" id="modalMapper" tabindex="-1" 
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
>
    <div class="modal-dialog" role="document" style="max-width: 1400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'vs_wct.template.project_create_mapper' | trans( {},'WebContentThief' ) }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ 'vs_application.form.close' | trans( {},'VSApplicationBundle' ) }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'Pages/Mappers/Partial/mapper_form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveMapper">
                    {{ 'vs_application.form.save' | trans( {},'VSApplicationBundle' ) }}
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseMapper">
                    {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
    </div>
</div>
