@import "../vendor/bootstrap/css/bootstrap.min.css";
@import "../vendor/fonts/circular-std/style.css";
@import "../libs/css/style.css";

/* 
$fa-font-path : "../vendor/fonts/fontawesome/webfonts";
@import "../vendor/fonts/fontawesome/css/fontawesome-all.css";
*/

@import "./fontawesome/css/fontawesome-all.css";
@import "./elegant-icons/css/elegant-icons-style.css";
