{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Edit Mapper{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Edit Mapper{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    {% include 'Pages/Mappers/Partial/mapper_form.html.twig' with {
                        'displayButtons': true,
                        'formAction': path('vs_wct_project_mapper_update', {'id': item.id})
                    } %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}

