<div class="fieldsRow">
    <div class="col-sm-10">
        <div class="col-lg-2">
            {{ form_widget(form.xquery, {'attr': {'class': 'form-control fieldTitle'}}) }}
            {{ form_widget(form.link, {'attr': {'class': 'form-control fieldTitle'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(form.browse, {'attr': {'class': 'btn btnBrowse'}}) }}
        </div>
    </div>
</div>