{% extends "IAApplicationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} :: My Profile{% endblock %}

{% block pageTitle %}<i class="fa fa-user-md"></i> My Profile{% endblock %}

{% block content %}
    {% include 'IAUsersBundle:Profile/partial:_profile-header.html.twig' %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading tab-bg-info">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#recent-activity" data-toggle="tab">
                                <i class="icon-home"></i>Activity
                            </a>
                        </li>
                        <li>
                            <a href="#profile" data-toggle="tab">
                                <i class="icon-user"></i>Membership
                            </a>
                        </li>
                        <li>
                            <a href="#edit-profile" data-toggle="tab">
                                <i class="icon-envelope"></i>Edit Profile
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane" id="recent-activity">
                            {% include 'IAUsersBundle:Profile/tab:_profile-activity.html.twig' %}
                        </div>
                        <!-- profile -->
                        <div class="tab-pane" id="profile">
                            {% include 'IAUsersBundle:Profile/tab:_profile-membership.html.twig' %}
                        </div>
                        <!-- edit-profile -->
                        <div class="tab-pane" id="edit-profile">
                            {% include 'IAUsersBundle:Profile/tab:_profile-edit-form.html.twig' %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
{% block endDocumentScripts %}
    {{ parent() }}

    {% include 'IAUsersBundle:Dialog:select-payment.html.twig' %}
{% endblock %}
