<div class="fieldsRow">
    <div class="col-sm-7">
        <div class="col-lg-3">
            {{ form_widget(form.projectFieldAlias, {'attr': {'class': 'form-control m-bot15 projectFieldAlias'}}) }}
        </div>
        <div class="col-lg-1" style="text-align: center; padding-top:6px;">---></div>
        <div class="col-lg-3">
            {{ form_widget(form.mapProcessorField, {'attr': {'class': 'form-control mapProcessorField'}}) }}
        </div>
        
        <a href="javascript:;" class="btn btn-success btnAddMapping"><i class="icon_plus_alt2"></i></a>
        <a href="javascript:;" class="btn btn-danger btnRemoveMapping"><i class="icon_close_alt2"></i></a>
    </div>
</div>
