<form method="POST" action="{{ path('ia_payment_paypal_express_checkout_prepare_recurring_payment_agreement') }}?packagePlanId={{ packagePlan.id }}">
    <p>{{ packagePlan.description }}</p>
    <input type="hidden" name="packagePlanId" value="{{ packagePlan.id }}" />
    <input type="submit" value="Subscribe" />
</form>
