<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
    <li><a href="#fields" data-toggle="tab">Project Fields</a></li>
    {% if resource.id %}
    <li><a href="#mappings" data-toggle="tab">Mappings</a></li>
    {% endif %}
</ul>

