<!doctype html>
<html lang="en">
	<head>
        <title>{% block title %}.:: Web Content Thief{% endblock %}</title>

        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}

        {% block head_styles %}
            {{ encore_entry_link_tags( 'css/global', null, 'new-template' ) }}
        {% endblock %}

        {% block head_scripts %}
            {{ encore_entry_script_tags( 'app', null, 'new-template' ) }}
        {% endblock %}
    </head>
    <body>
    	<!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
           <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <div class="dashboard-header">
                {% include 'top.html.twig' %}
            </div>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list">
                    {% include 'side.html.twig' %}
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
            	{% block content %}{% endblock %}
            	{% include 'footer.html.twig' %}
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        
        <!-- Modal Dialogs -->
        {% block modals %}{% endblock %}
        
        <!-- Optional JavaScript -->
        {% block body_scripts %}
            
       	{% endblock %}
    </body>
</html>
                	